<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
<beans>
<!-- 	<bean id="triangle" class="com.example.spring.Triangle">
		<property name="pointA" ref="pointA" />
		<property name="pointB" ref="pointB" />
		<property name="pointC" ref="pointC" />
	</bean> -->

	<!-- <bean id="circle" class="com.example.spring.Circle">
		 <property name="center" ref="pointA" /> 
	</bean> -->

<!--AUTOWIRED FOR CIRCLE CLASS   -->
    <bean id="circle" class="com.example.spring.Circle">
	</bean>

	<!-- <bean
		class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor" /> -->
	<!-- Injecting objects with setter and getter methods -->

	<bean id="center" class="com.example.spring.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>

	<bean id="pointB" class="com.example.spring.Point">
		<property name="x" value="10" />
		<property name="y" value="20" />
	</bean>

	<bean id="pointC" class="com.example.spring.Point">
		<property name="x" value="30" />
		<property name="y" value="40 " />
	</bean>


<!-- TO CONFIGURE ALL SPECIFIC ANNOTATION USE THE BELOW FILE -->
    <context:annotation-config/>

</beans> 
















	<!--Injects objects using constructors -->

	<!-- <bean id="pointA" class="com.example.spring.Point"> <constructor-arg 
		value="0"/> <constructor-arg value="0"/> </bean> <bean id="pointB" class="com.example.spring.Point"> 
		<constructor-arg value="10"/> <constructor-arg value="0"/> </bean> <bean 
		id="pointC" class="com.example.spring.Point"> <constructor-arg value="0"/> 
		<constructor-arg value="0"/> </bean> -->


	<!-- Inner Bean Example -->

	<!-- <bean id="triangle" class="com.example.spring.Triangle"> name="tri" 
		<property name="pointA"> <bean class="com.example.spring.Point"> <property 
		name="x" value="0" /> <property name="y" value="0" /> </bean> </property> 
		<property name="pointB" ref="pointB" /> <property name="pointC" ref="pointC" 
		/> </bean> <bean id="pointB" class="com.example.spring.Point"> <property 
		name="x" value="10" /> <property name="y" value="20" /> </bean> <bean id="pointC" 
		class="com.example.spring.Point"> <property name="x" value="30" /> <property 
		name="y" value="40 " /> </bean> -->
	<!-- alias example -->
	<!-- <alias name="triangle" alias="tri"/> -->

	<!-- IDREF To Catch Exception <bean id="triangle" class="com.example.spring.Triangle"> 
		<property name="pointA" ref="pointA"/> <property name="pointB" ref="pointB" 
		/> <property name="pointC" ref="pointC" /> </bean> <bean id="pointA" class="com.example.spring.Point"> 
		<property name="x" value="0" /> <property name="y" value="0" /> </bean> <bean 
		id="pointB" class="com.example.spring.Point"> <property name="x" value="10" 
		/> <property name="y" value="20" /> </bean> <bean id="pointC" class="com.example.spring.Point"> 
		<property name="x" value="30" /> <property name="y" value="40 " /> </bean> -->

	<!-- definition inheritence -->
	<!-- <bean id="parentTriangle" class="com.example.spring.Triangle"> <property 
		name="pointA" ref="pointA"/> </bean> <bean id="child" class="com.example.spring.Triangle" 
		parent="parentTriangle"> <property name="pointB" ref="pointB"/> </bean> <bean 
		id="childChild" class="com.example.spring.Triangle" parent="child"> <property 
		name="pointC" ref="pointC"/> </bean> <bean id="pointA" class="com.example.spring.Point"> 
		<property name="x" value="0" /> <property name="y" value="0" /> </bean> <bean 
		id="pointB" class="com.example.spring.Point"> <property name="x" value="10" 
		/> <property name="y" value="20" /> </bean> <bean id="pointC" class="com.example.spring.Point"> 
		<property name="x" value="30" /> <property name="y" value="40 " /> </bean> -->

	<!-- using list -->

	<!-- <bean id="listTriangle" class="com.example.spring.ListTriangle" init-method="myInit" 
		destroy-method="mydestroy"> <property name="list"> <list> <ref bean="pointA"/> 
		<ref bean ="pointB"/> <ref bean="pointC"/> </list> </property> </bean> <bean 
		id="pointA" class="com.example.spring.Point"> <property name="x" value="0" 
		/> <property name="y" value="0" /> </bean> <bean id="pointB" class="com.example.spring.Point"> 
		<property name="x" value="10" /> <property name="y" value="20" /> </bean> 
		<bean id="pointC" class="com.example.spring.Point"> <property name="x" value="30" 
		/> <property name="y" value="40 " /> </bean> -->
